.app {
  display: grid;
  grid-template-rows:1fr auto;
  min-height: 100vh;
}

* {
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-style: normal;
}
.BorderTextRed{
  text-shadow: 1px 2px 4px red;
}
.BorderTextblack{
  text-shadow: 3px 2px 1px black;
}

.bordercard{
  border: 1px solid rgb(190, 11, 11);
}


.btn{
  border-radius: 25px;
}

.nav-item svg {
  color: rgb(226, 96, 96);
}
.nav-item svg,.nav-item,.papasburger,.btn{
  transition: all ease 0.15s;
}
.papasburger:hover,.btn:hover{
  transform: scale(1.1);
}
.nav-item:hover svg,.nav-item:hover{
  color: rgb(187, 49, 49);
  transform: scale(1.15);
  text-shadow: rgb(187, 49, 49) 2px 4px 10px;
}
.infored{
  list-style: none;
  filter: brightness(0) saturate(100%) invert(18%) sepia(95%) saturate(7285%) hue-rotate(357deg)
}
footer{
  background: rgb(29, 29, 29);
}

.navbar{
  background: linear-gradient(rgba(58, 54, 54, 0.288),rgba(0, 0, 0, 0.356));
}

.bg-oscuro,.herofotoi{
  box-shadow: rgb(126, 122, 122) 0px 0px 5px;
}
.bg-oscuro{
  background: rgb(17, 17, 17);
}



.herofotoi{
  background: linear-gradient(rgba(0, 0, 0, 0.250),rgba(88, 83, 83, 0.200),rgba(0, 0, 0, 0.350)),url("/src/assets/img/hero.png") no-repeat center ;
  background-size:cover;
  width: 100vw;
  height: 75vh;
}
.alejadito{
padding-top: 110px;
}
.titulo{
  font-size: 8.3em;
}
.subtitulo{
  font-size: 4.3em;
}
.tamaborimg{
  border-radius: 5px;
  height: 250px;
  width: 100vh;
}


@media (max-width:970px){
  .desaparecer{
    display: none;
  }
  .alejadito{
padding-top: 85px;
}
  .herofotoi{
  background: linear-gradient(rgba(0, 0, 0, 0.250),rgba(88, 83, 83, 0.200),rgba(0, 0, 0, 0.350)),url("/src/assets/img/hero.png") no-repeat center ;
  background-size:cover;
  width: 100vw;
  height: 100vh;
}
  .iconosContactanos{
    transform: scale(1.5);
    margin-right: 20px;
  }
}
@media (max-width:992px) {
  .nav-item{
    text-align: center;
  background:linear-gradient(rgba(255, 0, 0, 0.315),rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.589),rgba(0, 0, 0, 0.589)) ;
}
.papasburger{
  transform: translateX(30px) scale(1.3);
}

  .navbar{
  background:rgba(0, 0, 0, 0.685) ;
}
}

@media(min-width:200px){
  .desaparecerA{
    display: inline;
  }
  .nav-item:hover{
  transform: scale(1.2) translateX(35px);
  }
}
@media(min-width:992px){
  .desaparecerA{
    display: none;
  }
  .nav-item:hover{
  transform: scale(1.2);
  }
}
@media(min-width:1030px){
  .desaparecerA{
    display: inline;
  }
}